@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif, monospace;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.container{
    position: relative;
    height: 100%;
}
#screen{
    background-color: black;
    image-rendering:pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    display: block;
}

.btn-moves{
    position: absolute;
    display: flex;
    height: 100vh;
    width: 60px;
    left:50px;  
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    visibility: hidden;
}

.btn-moves .up, .down{
    width: 50px;
    height: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.btn-moves .up a{
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #fff;
    text-decoration: none;
    color:white;
    opacity: 0.4;
}

.btn-moves .down a{
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #fff;
    opacity: .4;
}

.score{
    width: 100%;
    height: 100vh - 150px;
    position: absolute;
    color: white;
    top: 10%;
    display: flex;
    z-index: 10;
    justify-content: center;
    gap: 100px;

}

.score span{
    font-size:50px;
    
}

.controlls{
    width: 100%;
    height: 100vh - 150px;
    position: absolute;
    color: white;
    bottom: 10%;
    display: flex;
    z-index: 10;
    justify-content: center;
    gap: 100px; width: 100%;
}
.controlls button{
    background-color: black;
    border:none;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color:white;
    cursor: pointer;
    opacity: 0.25;
    transition: .5s ease;
}
.controlls button svg {
    transform: translateX(20px);
    opacity: 0;
    transition: .5s;
}
.controlls button:hover{
    
    opacity: 1;
}

.controlls button:hover svg{
    transform: translateX(0);
    opacity: 1;
    right: 0;
}

.controlls span{
    font-size: 15px;
    font-weight: 700;
}

.visible{
    visibility: visible;
}